@import '~bulma/bulma.sass';

body {
  overflow: scroll; /* Show scrollbars */
}

img {
  border-radius: 5px;
}
.coordinates-box,
.category,
.profile-text {
  justify-content: space-around;
}
.categoryboxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: white;
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}
#hero-text {
  padding: 30px;
}

#map-view {
  width: 100%;
  height: 100%;
  border: 4px red solid;
  position: relative;
}
.profile-background {
  background-image: url('https://media.istockphoto.com/photos/london-tower-bridge-river-thames-city-skyscrapers-illuminated-sunset-picture-id860119662?k=20&m=860119662&s=170667a&w=0&h=ItV1oh0qQypQ4QBIC1c2Dth3SjyS0DR3rdRoCo8NJFY=');
  height: 400px;
  background-position: center;
  background-size: cover;
  flex-direction: column;
}
.profile-text {
  font-size: 50px;
}
.profilePicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.reviewPicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
